<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201530060377-n0g2t0eirio9kq65qe4d8r0tjbfrpl6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201530060377-n0g2t0eirio9kq65qe4d8r0tjbfrpl6r</string>
	<key>API_KEY</key>
	<string>AIzaSyBwsrWtbzrO9DoU9Z8ZY56NWOj8qfpNSig</string>
	<key>GCM_SENDER_ID</key>
	<string>201530060377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kai.FirebaseUIKIT</string>
	<key>PROJECT_ID</key>
	<string>fir-uikit-53031</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-uikit-53031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201530060377:ios:6b3127880ae3279ecdcb48</string>
</dict>
</plist>